.badge {
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  margin: 0.125em;
  padding: 0.25em 0.5em;
  border-radius: 100em;
}

.badge-text {
  margin: 0;
  font-size: 0.8em;
}
